<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <link rel="stylesheet" href="style.css" />
            <title>{% block title %}{% endblock %} - Camera Obscura News </title>
        {% endblock %}
    </head>
    <body>
        <div id="content">{% block content %}{% endblock %}</div>
        <div id="footer">
            {% block footer %}
                &copy; Copyright 2013 by <a href="http://pelmel.org/">Brice Favre - Pelmel.org</a>.
            {% endblock %}
        </div>
        <div id="ads">
<script type="text/javascript">
<!--
google_ad_client = "ca-pub-5595836108149450";
/* Mon annonce de test */
google_ad_slot = "9294846629";
google_ad_width = 468;
google_ad_height = 15;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
        </div>
    </body>
</html>

